.invoice-box {
   max-width: 80%;
   max-height: 100%;
   margin: auto;
   border: 1px solid #eee;
   box-shadow: 0 0 5px rgba(0, 0, 0, .10);
   font-size: 14px;
   line-height: 24px;
   font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   color: #555;
}

.resize {
   height: 120px;
   width: 200px;
}

.invoice-box table {
   width: 100%;
   line-height: inherit;
   text-align: left;
}

.invoice-box table td {
   padding: 5px;
   vertical-align: middle;
}

.invoice-box table tr td:nth-child(2) {
   text-align: right;
}

.unpaid {
   background-color: red;
   color: #fff;
   padding: 5px;
   border-radius: 5px;
}

.paid {
  background-color: rgb(26, 172, 104);
  color: #fff;
   padding: 5px;
   border-radius: 5px;
}

.pl-10 {
   text-align: left;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}

.invoice-box table tr.top table td {
   padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
   font-size: 45px;
   line-height: 45px;
   color: #333;
}

.invoice-box table tr.information table td {
   padding-bottom: 40px;
}

.invoice-box table tr.heading td {
   background: #eee;
   border-bottom: 1px solid #ddd;
   font-weight: bold;
}

.invoice-box table tr.details td {
   padding-bottom: 20px;
}

.invoice-box table tr.item td{
   border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
   border-bottom: none;
}


.invoice-box table tr.total td:nth-child(2) {
   border-top: 2px solid #eee;
   font-weight: bold;
}

@media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
         width: 100%;
         display: block;
         text-align: center;
      }

      .invoice-box table tr.information table td {
         width: 100%;
      display: block;
      text-align: center;
   }
}

/** RTL **/
.rtl {
   direction: rtl;
   font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.rtl table {
   text-align: right;
}

.rtl table tr td:nth-child(2) {
   text-align: left;
}

.btn {
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
text-decoration: none;
}

.btn:focus, .btn.focus {
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
pointer-events: none;
}

.btn-outline-secondary {
color: #6c757d;
background-color: transparent;
background-image: none;
border-color: #6c757d;
}

.btn-outline-secondary:hover {
color: #fff;
background-color: #6c757d;
border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
color: #6c757d;
background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
color: #fff;
background-color: #6c757d;
border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}